@model Post;

<div class="row">
    @if (Model != null) {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@Model.Picture" alt="Post Image" class="card-img-top" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Caption</h5>
                        @if (Model.Timestamp.HasValue) {
                            <p class="card-text">@Model.Timestamp.Value.ToString("MMMM dd, yyyy")</p>
                        } else {
                            <p class="card-text">Timestamp not available</p>
                        }
                        <div class="flex flex-between">
                            <p class="card-text">@Model.Likes Likes</p>
                            <a href="/Post/LikePost/@Model.PostId"><i class="fa-solid fa-thumbs-up"></i></a>
                            <a href="/Post/Comment/@Model.PostId">Comment</a>
                        </div>
                    </div>
                </div>
            </div>
    } else {
        <p>No posts available.</p>
    }
</div>